image: node:12.18.3-alpine

variables:
  npm_config_cache: '$CI_PROJECT_DIR/.npm'
  CYPRESS_CACHE_FOLDER: '$CI_PROJECT_DIR/cache/Cypress'
  DOCKER_DRIVER: overlay2

cache: &global_cache
  key: '$CI_BUILD_REF_NAME'
  paths:
    - cache/Cypress
    - node_modules
  policy: pull-push

stages:
  - build
  - test
  - deploy

before_script:
  - yarn

build:
  stage: build
  script:
    - yarn build:prod
  artifacts:
    paths:
      - dist
  only:
    - master

test:
  image: cypress/browsers:node12.14.1-chrome83-ff77
  stage: test
  cache:
    <<: *global_cache
    policy: pull
  script:
    - npm run test:ci
  only:
    - master

deploy:
  image: docker:latest
  stage: deploy
  cache: {}
  before_script: []
  services:
    - docker:dind
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD registry.gitlab.com
    - docker build -t $CI_REGISTRY_IMAGE .
    - docker push $CI_REGISTRY_IMAGE
  only:
    - master
